.navbar-nav .nav-item:hover {
    background-color:#0096ff;
    border-radius: 8px;
    }
    
    
    .navbar-nav .nav-item:hover a {
    color: #0096ff;
    }
    
    
    .navbar-nav .nav-item a {
    color: white;
    }
    